.container {
    width: 80%;
    margin: auto;
    font-family: "Poppins", sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
/****************************** Navbar Section **********************************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}
.navbar-item{
    cursor: pointer;
}
.nav-left {
    display: flex;
    gap: 3rem;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-logo {
    height: 80px;
    width: 80px;
}

.nav-right button {
    padding: 1rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: red;
    cursor: pointer;
}

/**************************** Hero Section **************************************/

.hero-section {
    display: flex;
    justify-content: center;
    height: 80vh;
    filter: brightness(80%);
    background-image: url(/public/images/Ocean-Background.jpg);
    background-size: cover;
    border-radius: 1rem;
}

.session-button {
    font-size: 1.5rem;
    position: absolute;
    top: 80%;
    padding: 1.5rem 4rem;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: red;
    cursor: pointer;
}

/**************************** Form Section ******************************************/

.form-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 10%;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}


.form-container input {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container h2{
    text-transform: uppercase;
    
}
.form-container button {
    width: 50%;
    padding: 15px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

.form-container .toggle-btn {
    background-color: #008CBA;
}

.form-container .toggle-btn:hover {
    background-color: #007bb5;
}

/*********************  Preferences Page ******************************/
h1 {
    margin-bottom: 20px;
}

.preference-section {
    margin-bottom: 20px;
}

.background-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 2%;
}

.background-image {
    width: 180px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
}
.background-options label.selected .background-image {
    border: 2px solid black;
    filter: brightness(80%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(30px);
}

select {
    width: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.save{
    font-size: 1rem;
    top: 80%;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: red;
    cursor: pointer;
}